<br />

<h1>Welcome to <%= @app_name %></h1>

<p class="header">Workstreams</p>
<p class="streams"><% @workstreams.each do |stream| %>* <a href="/stream/<%= stream %>"><%= stream %></a> <% end %> *</p>

<div id="container">
<div id="col_one">
      <div class="col">
      <p class="header">Backlog</p>
      <% @issues.each do |issue| %>
         <% if issue["status"]["id"] == 10 then %>
         <p><a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
         <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %>
         </p>
         <% end %>
       <% end %>
       </div>
</div>

<div id="col_two">
     <div class="col">
     <p class="header">Blocked</p>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == 12 then %>
           <p><a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %>
           </p><% end %>
      <% end %>
      </div>
</div>

<div id="col_three">
     <div class="col">
     <p class="header">In Progress</p>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == 8 then %>
           <p><a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %>
           </p><% end %>
      <% end %>
      </div>
</div>

<div id="col_four">
     <div class="col">
     <p class="header">Pending Review</p>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == (14 or 18) then %>
           <p><a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %>
           </p><% end %>
      <% end %>
      </div>
</div>

<div id="col_five">
     <div class="col">
     <p class="header">In Production</p>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == 5 then %>
           <p><a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %>
           </p><% end %>
      <% end %>
      </div>
</div>
<br style="clear: both;" /> <!-- Included to force the container to wrap the columns -->
</div>
