</br>

<table class="table table-bordered">
  <thead>
    <tr>
    <% @engineers.sort.each do |engine| %>
      <th><center><%= engine %></center></th>
    <% end %>
    </tr>
  </thead>
</tbody>
    <tr>
    <% @engineers.sort.each do |engine| %>
      <% owned = (@issues.find_all do |issue| (issue.assigned_to == engine) and (issue.status_id != 5) end).count %>
      <% case
       when owned < 4
         color = 'label-success'
       when owned == 4, owned == 5
         color = 'label-warning'
       when owned > 5
        color = 'label-important'
      end %>
      <td class="td <%= color %>"><center><%= "#{owned}" %></center></td>
    <% end %>
    </tr>
</table>

<table class="table table-bordered">
<thead>
<tr>
<th>Backlog</th>
<th>Blocked</th>
<% if @overquota == true %>
<th class="th label-important">
<% else %>
<th>
<% end %>
In Progress</th>
<th>Pending Review</th>
<th>Production</th>
</tr>
</thead>
</tbody>
<tr>
<td>
      <% @backlog.each do |issue| %>
         <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %><br />
      <% end %>
</td>
<td>
      <% @blocked.each do |issue| %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
      <% end %>
</td>
<td>
      <% @inprogress.each do |issue| %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %> (<%= issue.assigned_to %>)<br />
      <% end %>
</td>
<td>
      <% @review.each do |issue| %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
      <% end %>
</td>
<td>
      <% @prod.each do |issue| %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
      <% end %>
</td>
</tr>
</tbody>
</table>
