<table class="table table-bordered">
<tr>
   <% @workstreams.sort.each do |stream| %><td><a href="/stream/<%= stream %>"><%= stream %></a></td> <% end %>
</tr>
</table>

<br />

<table class="table table-bordered">
<thead>
<tr>
<th>Backlog</th>
<th>Blocked</th>
<th>In Progress</th>
<th>Pending Review</th>
<th>Production</th>
</tr>
</thead>
</tbody>
<tr>
<td>
      <% @issues.each do |issue| %>
         <% if issue["status"]["id"] == 10 then %>
         <a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
         <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %><br />
         <% end %>
       <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == 12 then %>
           <a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %><br />
           <% end %>
      <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
      <% if issue["status"]["id"] == 8 && issue["assigned_to"] then %>
           <a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %><br />
           <% end %>
      <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == (14 or 18) then %>
           <a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %><br />
           <% end %>
      <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
           <% if issue["status"]["id"] == 5 then %>
           <a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a> <%= issue["subject"] %>
           <% if issue["assigned_to"] then %>(<%= issue["assigned_to"]["name"] %>)<% end %><br />
           <% end %>
      <% end %>
</td>
</tr>
</tbody>
</table>

