</br>

<table class="table table-bordered">
  <thead>
    <tr>
    <% @engineers.sort.each do |engine| %>
      <th><center><%= engine %></center></th>
    <% end %>
    </tr>
  </thead>
</tbody>
    <tr>
    <% @engineers.sort.each do |engine| %>
      <% owned = (@issues.find_all do |issue| issue.assigned_to == engine end).count %>
      <% case
       when owned < 4
         color = 'label-success'
       when owned == 4, owned == 5
         color = 'label-warning'
       when owned > 5
        color = 'label-important'
      end %>
      <td class="td <%= color %>"><center><%= "#{owned}" %></center></td>
    <% end %>
    </tr>
</table>

<table class="table table-bordered">
<thead>
<tr>
<th>Backlog</th>
<th>Blocked</th>
<th>In Progress</th>
<th>Pending Review</th>
<th>Production</th>
</tr>
</thead>
</tbody>
<tr>
<td>
      <% @issues.each do |issue| %>
         <% if (issue.status_id == 8 or issue.status_id == 12) && !issue.assigned_to then %>
         <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
         <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
         <% end %>
       <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
           <% if issue.status_id == 12 or issue.status_id == 11 then %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
           <% end %>
      <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
      <% if issue.status_id == 8 && issue.assigned_to then %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
           <% end %>
      <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
           <% if issue.status_id == 14 or issue.status_id == 18 then %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
           <% end %>
      <% end %>
</td>
<td>
      <% @issues.each do |issue| %>
           <% if issue.status_id == 5 then %>
           <a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a> <%= issue.subject %>
           <% if issue.assigned_to then %>(<%= issue.assigned_to %>)<% end %><br />
           <% end %>
      <% end %>
</td>
</tr>
</tbody>
</table>
