<table class="table table-bordered">
<tr>
   <% @workstreams.sort.each do |stream| %><td><a href="/stream/<%= stream %>"><%= stream %></a></td> <% end %>
</tr>
</table>

<br />

<div id="container">

<table class="table table-bordered">
  <tr>
    <td class="mt">ID</td>
    <td class="mt">Subject</td>
    <td class="mt">Assignee</td>
  </tr>
  <% i = 0 %>
  <% @stream_issues.each do |issue| %>
    <% i += 1 %>
    <tr class="<%= cycle %>">
        <td><a href="<%= @site %>/issues/<%= issue["id"] %>" rel="external"><%= issue["id"] %></a></td>
        <td><%= issue["subject"] %></td>
        <td><% if issue["assigned_to"] then %><%= issue["assigned_to"]["name"] %><% end %></td>
      </tr>
  <% end %>
</table>

