<br />

<div class="progress">
  <% percent = (@closed_count.to_f / (@closed_count + @stream_issues.count) * 100) %>
  <div class="bar" style="width: <%= percent %>%"><%= "#{percent.to_i}% Completed" %></div>
</div>

<div id="container">

<table class="table table-bordered">
  <tr>
    <td class="mt">ID</td>
    <td class="mt">Subject</td>
    <td class="mt">Assignee</td>
  </tr>
  <% i = 0 %>
  <% @stream_issues.each do |issue| %>
    <% i += 1 %>
    <tr class="<%= cycle %>">
        <td><a href="<%= @site %>/issues/<%= issue.ticket_id %>" rel="external"><%= issue.ticket_id %></a></td>
        <td><%= issue.subject %></td>
        <td><% if issue.assigned_to then %><%= issue.assigned_to %><% end %></td>
      </tr>
  <% end %>
</table>
